build/*
*.map
*.hex
*.d
*.o
*.a
*.elf
*.bin

Drivers/*
*Presets.json
cmake/stm32cubemx/*
cmake/gcc-arm-none-eabi.cmake
Core/Src/SSC/Src/*
!Core/SSC/Src/SSC-Device.c
*.bin
*.xml
.mxproject
startup_*xx.s
*_flash.ld
syscalls.c
sysmem.c
system_stm32f4xx.c